body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  margin-bottom: 50px;
  text-align: center;
}

legend {
  font-size: 24px;
  text-align: center;
}

form {
  margin: auto;
  width: 75%;
  background-color: #d4d5d4;
  padding: 40px;
  border-radius: 1%;
}

input {
  width: 100%;
}


input[type=text] {
  padding: 12px 12px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type=email] {
  padding: 12px 12px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type=password] {
  padding: 12px 12px;
  margin: 8px 0;
  box-sizing: border-box;
}

.containerForButtons {
  margin-top: 30px;
}

button {
  width: 25%;
  margin: 2px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  border-radius: 2px;
  border: none;
  padding: 18px;
  margin: 2px;
  background-color: #e24341;
  color: white;
}

button[type=submit] {
  background-color: #04aa6d;
}

button:hover {
  font-size: 20px;
  background-color: #932d2b;
}

button[type=submit]:hover {
  font-size: 20px;
  background-color: #016641;
}

table {
  border: 2px solid black;
}

td {
  border: 1px solid rgba(0, 0, 0, 0.747);
  text-align: center;
}
